__pycache__/camera.cpython-311.pyc
__pycache__/mapsys.cpython-311.pyc
__pycache__/settings.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/entitysys.cpython-311.pyc
__pycache__/player.cpython-311.pyc
__pycache__/player.cpython-311.pyc
